.app-sidebar {
    background-color: #fff;
    width: 30%;
    height: 95vh;
    box-shadow: 10px 10px 30px 1px rgba(0, 0, 0, 0.1);
    border-radius: 30px;
    padding: var(--top-padding) 30px;
  }
  
  .app-sidebar-header {
    display: flex;
    position: relative;
    padding: 25px 0;
    background-color: white;
  }

  .app-sidebar-header h1 {
    margin: 0;
  }

  .highlight {
    position: relative;
  }

  .sidebar-note-title {
    display: flex;
    justify-content: space-between;
    color: #999;
  }
.app-sidebar-note {
  padding: 20px;
  cursor: pointer;
  border-radius: 15px;
  border: 1px solid var(--red-color);
  margin-bottom: 10px;
  position: relative;
  background-color: #fff;
  overflow: hidden;
}